{% extends "layout.njk" %}
{% block  content %}
<div class="container">
  <ul>
    {% for row in rows %}
      <li>
        <div class="msg">
          {{ row | dump }}
        </div>
      </li>
    {% endfor %}
  </ul>
  <a href="/new">Posta</a>
</div>
{% endblock %}