{% extends "layout.njk" %}
{% block  content %}
<div class="container">
  <ul>
    {% for row in rows %}
      <li>
        <div class="msg">
          <div class="msg-title">
            <p>{{ row.title | dump }}</p>
            <p>{{ row.AuthorId | dump }}</p>
          </div>
          <div class="msg-content">
            <p>{{ row.content | dump }}</p>
            <p>{{ row.createdAt | dump }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}