{% extends "layout.njk" %}
{% block  content %}
<div class="container">
  <ul>
    {% for row in rows %}
      <li>
        <div class="msg">
          <div class="msg-title">
            <p><a href="/post/{{ row.id }}">{{ row.title }}</a></p>
            <p>@{{ row.name }}</p>
          </div>
          <div class="msg-content">
            <p>{{ row.content }}</p>
          </div>
          <p class="msg-date">{{ row.createdAt }}</p>
          <div class="msg-links">
            <a href="">Like</a>
            <a href="">Comment</a>
            <a href="">Share</a>
            <a href="">Report</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}