<!-- <nav>
    <div class="container navbar">
        <a href="/" class="title">OTROLIGT FORUM</a>
        <button class="toggle">Burgar Meny</button>
        <ul class="menu">    
            <li><a href="/new" class="item">Posta</a></li>
            <li><a href="/new" class="item">Kategorier</a></li>
            <li><a href="/new" class="item">Logga in</a></li>
        </ul>
    </div>
</nav> -->
<nav class="navbar">
    <div class="navbar__inner container">
        <a href="/">EPISKT FORUM</a>
        <button class="navbar__button"><span class="material-symbols-outlined">menu</span></button>
        <div class="navbar__collapse">
            <ul>
                <li></li>
                <li><a href="/new">Posta</a></li>
                <li><a href="">Kategorier</a></li>
                <li><a href="">Logga in</a></li>
            </ul>
        </div>
    </div>
</nav>