<nav>
    <div class="container navbar">
        <ul>    
            <li><a href="/" class="title">OTROLIGT FORUM</a></li>
            <li><a href="/new" class="item">Posta</a></li>
            <li><a href="/new" class="item">Kategorier</a></li>
            <li><a href="/new" class="item">Logga in</a></li>
        </ul>
    </div>
</nav>